body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 245, 239);
}

/*Page Name*/
.name{
    color: #fff;
    font-family: 'Contrail One', cursive;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

/*Countdown Timer*/
.timertext{
    color: #fff;
    text-align: center;
}

h1{
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 100;
}

#demo{
    font-size: 30px;
    font-weight: lighter;
    word-spacing: 20px;
}

hr{
    margin: auto;
    width: 80%;
    border: 1.5px solid #fff;
}

/*Snowfall*/
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

.snowflake {
    position: fixed;
    background-color: #fff;
    user-select: none;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  /*Link to home page*/
    #linkshop{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      padding: 20px 25px;
      text-align: center;
      border: 1px solid #fff;
      color: #fff;
  }

  /*Constant Header*/
  .constantheader{
      display: grid;
      height: 80px;
      width: 100%;
      background-color: #fff;
      grid-template-rows: 100px;
      grid-template-columns: repeat(2, 15%) auto repeat(2, 15%);
      grid-area: 
      'buttonsheader buttonsheader nameheader buttonsheader buttonsheader';
  }

  .buttonsheader{
      height: 24px;
      width: 24px;
      background-color: rgb(255, 255, 255);
      margin-top: 30px;
      margin-left: 10px;
  }

  .nameheader{
    height: 100%;
    width: 100%;
  }

  a:link, a:visited{
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  .textheader{
    font-family: 'Contrail One', cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }

/*Menu Button Animation*/
  .menu{
    height: 100vh;
    width: 60vw;
    background:  #fff;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.5);
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
}

.fade-layer.visible{
    display: block;
}

.clear{
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;   
}

/*Shops*/
.quickshop{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.shoplips{
height: 222px;
width: 288px;
}

.lipsclick{
    height: 30px;
    width: 100px;
    background-color: lightgray;
    z-index: 100;
}